@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>@TempData["mydata"].ToString()</h4>

<h3>@ViewBag.data</h3>

<p>Use this page to detail your site's privacy policy.</p>

