@model User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post">
    <div class="row mt-3">
        <label asp-for="Name" class="col-2">User Name</label>
        <div class="col-6">
        <input asp-for="Name" class="form-control"/>
        </div>
    </div>

    <div class="row mt-3">
        <label asp-for="Email" class="col-2">Email</label>
        <div class="col-6"><input asp-for="Email" class="form-control" /></div>
    </div>

    <div class="row mt-3">
        <div class="offset-md-2 col-3">
            <button type="submit" class="btn btn-primary me-3 form-control">Submit</button>            
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-secondary form-control" onclick="javascript:window.location.replace('/home/index')">Cancel</button>
            
        </div>
</form>
