@model Student

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="bg-dark text-light p-2">Student details</h2>

<table class="table table-border table-stripe">    
    <tbody>

        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Age</th>
            <td>@Model.Age</td>
        </tr>

        <tr>
            <th>Address</th>
            <td>@Model.Address</td>
        </tr>

    </tbody>
</table>


