@page
@model CreateTeacherModel
@{
}

<h2>Create Teacher</h2>

<form method="post">
    <div class="mt-3">
        <label asp-for="Teacher.Name">Name</label>
        <input asp-for="Teacher.Name" class="form-control" />
    </div>

    @*<div class="mt-3">
        <label asp-for="Teacher.Subject.Name">Subject</label>
        <input asp-for="Teacher.Subject.Name" class="form-control" />
    </div>*@

<div class="mt-3">
    <label asp-for="Teacher.SubjectId">Subject</label>
    <select asp-for="Teacher.SubjectId" asp-items="@Model.SubjectList" ></select>
</div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
